/***************creating the color palette for the website**************/
/**primary, secondary colors for the background, accent for the button**/

:root{
    --primary-color:#2584ff;
    --secondary-color:#00d9ff;
    --accent-color:#ff3400;
    --color-headings:#1b0760;
    --color-body:#918ca4;
    --color-border:#ccc;    /* implemented for input field*/
    --border-radius:30px; /*implemented for input field*/
}
*,*::after,*::before{
    box-sizing: border-box;/*implemented mainly for buttons component*/
}
html{
    font-size: 62.5%;
}
/*************** Mobile Version***********/
/*****************************************/
/***************Typography****************/
/*****************************************/
body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    color:var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;/*1.5 times the size of the font*/
}
h1,h2,h3{
    color: var(--color-headings);
    margin-bottom:2rem;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
p{
    margin-top: 0;
}

/*****************************************/
/*****Laptop Version for typography*******/
/*****************************************/
@media screen and (min-width:1024px) {
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }
    body{
        font-size: 1.8rem;
    }
    
}
/*********End of Laptop Version for typography*****/
/***********Typography ends here**********/

/*****************************************/
/******************Links******************/
/*****************************************/
a{
    text-decoration: none;
    color:var(--accent-color);
    
}
.link-arrow{
    text-transform: uppercase;
    padding-right:2px;
    font-size: 2rem;
    font-weight: bold;
}
.link-arrow::after{
    content: "-->";
    margin-left:5px;/* this should not be relative & should be constant anywhere*/
    transition:margin-left 0.15s;
}
/*pseudo state should be followed by condition*/
.link-arrow:hover::after
{
    margin-left:10px;
}
/* laptop version- wider screen*/
@media screen and (min-width:1024px){
    .link-arrow{
        font-size: 1.5rem;
    }
    
}
/*****************************************/
/***********Link style ends here**********/
/*****************************************/

/*****************************************/
/**********badge style starts here********/
/*****************************************/

/*Object oriented concept of separate style for structure*/
.badge{
    border-radius: 25px;
    font-size: 2rem;
    font-weight:600;
    padding:0.5rem 2rem;/*vertical and horizontal padding*/
    white-space: nowrap;/*content should not be wrapped*/

}
/*Object oriented concept of separate style for skin*/
/*BEM naming convention (Element--Modifier)*/
.badge--primary{
    background-color: var(--primary-color);
    color:#fff;
}
.badge--secondary{
    background-color: var(--secondary-color);
    color:#fff;
}
.badge--small{
    font-size: 1.6rem;
}
/*Laptop version for badge*/
@media screen and (min-width:1024px){
    .badge{
        font-size:1.5rem;
    }
    .badge--small{
        font-size: 1.2rem;
    }
}
/*********badge style ends here*********/

/*****************************************/
/******** List Style Begins Here *********/
/*****************************************/


.list{
    list-style: none;
    color: var(--color-headings);
    padding-left:0; /*to remove the default padding of the browser*/
}
/**************in-Line Style**************/
/****Horizontal****/

.list--inline .list__item {/**element--modifier block__element---BEM***/
    display:inline-block;/*margin wont be applied if it is just inline*/
    padding-right:2rem;
}
/****Vertical****/

.list--tick{
    list-style-image: url(../image/tick.svg);
    padding-left: 2rem;
}
.list--tick .list__item{/**nested**/
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width=1024px){
    .list--tick .list__item{
        padding-left: 0rem;
    }
}
/************* End of List Style *********/

/*****************************************/
/******** ICON Style Begins Here *********/
/*****************************************/
.icon{
    width:40px;
    height:40px;
   
}
.icon--primary{
    fill: var(--primary-color); /*since this was not working, added <path fill="#63c3ef"></path> in svg file for each component*/
}
.icon-container{
    height: 64px;
    width:64px;
    border-radius: 100%;
    background-color: #f3f9f6;
    display: inline-flex;/* flex to align the circle in the background for the icon*/
    justify-content: center;
    align-items: center;
}
/************* End of Icon Style *********/

/*****************************************/
/******** ICON Style Begins Here *********/
/*****************************************/
.btn{
    font-size: 1.8rem;
    font-weight:600;
    text-transform: uppercase;
    padding: 2rem 3rem;
    border:0;
    text-align:center;
    border-radius: 40px;
    cursor: pointer;/* to add cursor to button, usually happens only with link*/
    white-space: nowrap;
    margin: 2rem 0;/* to separate the block element*/
}
.btn--primary{
    background-color: var(--primary-color);
    color:#fff;
}
.btn--primary:hover{
    background-color: #3a8ffd;
}
/*since structure & skin should be separated, font color s repeated for each skin*/
.btn--secondary{
    background-color: var(--secondary-color);
    color: #fff;
}
.btn--secondary:hover{
    background-color: #00c8eb;
}
.btn--accent{
    background-color: var(--accent-color);
    color: #fff;
}
.btn--accent:hover{
    background-color: #ec3000;
}
.btn--block{
    width:100%;
    display: inline-block;
}
.btn--outline{
    border: 2px solid var(--color-headings);
    color: var(--color-headings);
    background-color: #fff;
}
.btn--outline:hover{
    color:#fff;
    background-color: var(--color-headings);
}

@media screen and (min-width:1024px){
    .btn{
        font-size:1.5rem;
    }
}
/************* End of Button Style *********/

/*****************************************/
/******** Input Style Begins Here *********/
/*****************************************/
.input{
    font-size:2rem;
    color:var(--color-headings);
    padding:1.5rem 3.5rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    outline:0;
}
::placeholder{
    color:#cdcbd7;
}

@media screen and (min-width:1024px)
{
    .input{
        font-size: 1.5rem;
    }
}
/******** Input Style Ends Here *********/
/******************************************************/
/******** Input Style with button Begins Here *********/
/******************************************************/
.input-group{
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;

}
.input-group .input{/*nested to remove the two borders one of div & one of input*/
    flex-grow: 1;/* to increase the size of input box to stretch the entire div*/
    border:0;
    padding:1.5rem 1rem;/*vertical & horizontal*/ 
}
.input-group .btn{
    margin:1px;
}
/******** Input Style with button Ends Here *********/