/***************creating the color palette for the website**************/
/**primary, secondary colors for the background, accent for the button**/

:root{
    --primary-color:#2584ff;
    --secondary-color:#00d9ff;
    --accent-color:#ff3400;
    --color-headings:#1b0760;
    --color-body:#918ca4;
    --color-body-darker:#5c5577;
    --color-border:#ccc;    /* implemented for input field*/
    --border-radius:30px; /*implemented for input field*/
}
*,*::after,*::before{
    box-sizing: border-box;/*implemented mainly for buttons component*/
}
html{
    font-size: 62.5%;
}
/*************** Mobile Version***********/
/*****************************************/
/***************Typography****************/
/*****************************************/
body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    color:var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;/*1.5 times the size of the font*/
}
h1,h2,h3{
    color: var(--color-headings);
    margin-bottom:2rem;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
p{
    margin-top: 0;
}

/*****************************************/
/*****Laptop Version for typography*******/
/*****************************************/
@media screen and (min-width:1024px) {
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }
    body{
        font-size: 1.8rem;
    }
    
}
/*********End of Laptop Version for typography*****/
/***********Typography ends here**********/

/*****************************************/
/******************Links******************/
/*****************************************/
a{
    text-decoration: none;
    color:var(--accent-color);
    
}
.link-arrow{
    text-transform: uppercase;
    padding-right:2px;
    font-size: 2rem;
    font-weight: bold;
}
.link-arrow::after{
    content: "-->";
    margin-left:5px;/* this should not be relative & should be constant anywhere*/
    transition:margin-left 0.15s;
}
/*pseudo state should be followed by condition*/
.link-arrow:hover::after
{
    margin-left:10px;
}
/* laptop version- wider screen*/
@media screen and (min-width:1024px){
    .link-arrow{
        font-size: 1.5rem;
    }
    
}
/*****************************************/
/***********Link style ends here**********/
/*****************************************/

/*****************************************/
/**********badge style starts here********/
/*****************************************/

/*Object oriented concept of separate style for structure*/
.badge{
    border-radius: 25px;
    font-size: 2rem;
    font-weight:600;
    padding:0.5rem 2rem;/*vertical and horizontal padding*/
    white-space: nowrap;/*content should not be wrapped*/

}
/*Object oriented concept of separate style for skin*/
/*BEM naming convention (Element--Modifier)*/
.badge--primary{
    background-color: var(--primary-color);
    color:#fff;
}
.badge--secondary{
    background-color: var(--secondary-color);
    color:#fff;
}
.badge--small{
    font-size: 1.6rem;
}
/*Laptop version for badge*/
@media screen and (min-width:1024px){
    .badge{
        font-size:1.5rem;
    }
    .badge--small{
        font-size: 1.2rem;
    }
}
/*********badge style ends here*********/

/*****************************************/
/******** List Style Begins Here *********/
/*****************************************/


.list{
    list-style: none;
    color: var(--color-headings);
    padding-left:0; /*to remove the default padding of the browser*/
}
/**************in-Line Style**************/
/****Horizontal****/

.list--inline .list__item {/**element--modifier block__element---BEM***/
    display:inline-block;/*margin wont be applied if it is just inline*/
    padding-right:2rem;
}
/****Vertical****/

.list--tick{
    list-style-image: url(../image/tick.svg);
    padding-left: 2rem;
}
.list--tick .list__item{/**nested**/
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width=1024px){
    .list--tick .list__item{
        padding-left: 0rem;
    }
}
/************* End of List Style *********/

/*****************************************/
/******** ICON Style Begins Here *********/
/*****************************************/
.icon{
    width:40px;
    height:40px;
   
}
.icon--primary{
    fill: var(--primary-color); /*since this was not working, added <path fill="#63c3ef"></path> in svg file for each component*/
}
.icon--white{/*implemented for collapsible component*/
    fill: #fff;
}
.icon-container{
    height: 64px;
    width:64px;
    border-radius: 100%;
    background-color: #f3f9f6;
    display: inline-flex;/* flex to align the circle in the background for the icon*/
    justify-content: center;
    align-items: center;
}
/************* End of Icon Style *********/

/*****************************************/
/******** Button Style Begins Here *********/
/*****************************************/
.btn{
    font-size: 1.8rem;
    font-weight:600;
    text-transform: uppercase;
    padding: 2rem 3rem;
    border:0;
    text-align:center;
    border-radius: 40px;
    cursor: pointer;/* to add cursor to button, usually happens only with link*/
    white-space: nowrap;
    margin: 2rem 0;/* to separate the block element*/
    
}
.btn--primary{
    background-color: var(--primary-color);
    color:#fff;
}
.btn--primary:hover{
    background-color: #3a8ffd;
}
/*since structure & skin should be separated, font color s repeated for each skin*/
.btn--secondary{
    background-color: var(--secondary-color);
    color: #fff;
}
.btn--secondary:hover{
    background-color: #00c8eb;
}
.btn--accent{
    background-color: var(--accent-color);
    color: #fff;
}
.btn--accent:hover{
    background-color: #ec3000;
}
.btn--block{
    width:100%;
    display: inline-block;
}
.btn--outline{
    border: 2px solid var(--color-headings);
    color: var(--color-headings);
    background-color: #fff;
}
.btn--outline:hover{
    color:#fff;
    background-color: var(--color-headings);
}
.btn--stretched{/* Implemented for callout component*/
    padding-left: 6rem;
    padding-right: 6rem;
}

@media screen and (min-width:1024px){
    .btn{
        font-size:1.5rem;
    }
}
/************* End of Button Style *********/

/*****************************************/
/******** Input Style Begins Here *********/
/*****************************************/
.input{
    font-size:2rem;
    color:var(--color-headings);
    padding:1.5rem 3.5rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    outline:0;
}
::placeholder{
    color:#cdcbd7;
}

@media screen and (min-width:1024px)
{
    .input{
        font-size: 1.5rem;
    }
}
/******** Input Style Ends Here *********/
/******************************************************/
/******** Input Style with button Begins Here *********/
/******************************************************/
.input-group{
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;

}
.input-group .input{/*nested to remove the two borders one of div & one of input*/
    flex-grow: 1;/* to increase the size of input box to stretch the entire div*/
    border:0;
    padding:1.5rem 1rem;/*vertical & horizontal*/ 
}
.input-group .btn{
    margin:1px;
}
/******** Input Style with button Ends Here *********/

/******************************************************/
/**************** Card Style Begins Here **************/
/******************************************************/
.card{
    border-radius:7px;
    box-shadow: 0 0 20px 10px #f3f3f3;/*0 for horizontal & vertical offset, 20px blur-softness, 10px for size of shadow, bigger the size, bigger the shadow will be*/
    overflow:hidden;/*to bring back the border radius for header*/
}
.card__header, .card__body{
    padding: 2rem 3rem;/*vertical & horizontal*/
}
.card--primary .card__header{
background-color: var(--primary-color);
color:#fff;
}
.card--secondary .card__header{
    background-color: var(--secondary-color);
    color:#fff;
}

/******** Card Style Ends Here *********/

/****************************************************************************/
/******** Plan Style with card, badge, list and buttons Begins Here *********/
/****************************************************************************/

.plane__name{
    font-size: 500;
    font-weight: 2.4rem;
    /*color:#fff; with weightage 10 it did not work so increased the weightage to 20 by nesting it*/
}
.plan .plan__name{
    color:#fff;
}

.plan__price{
    font-size: 6rem;
}
.plan__billing-cycle{
    font-size:2.4rem;
    font-weight: 300;
    opacity:0.8;
    margin-right: 2rem;
}
.plan .badge.badge--secondary{
    background-color:#02cdf1;
}
.plan__description{
display:block;
font-size:2rem;
font-weight: 300;
letter-spacing: 1px;
}
.card__body .list__item{
margin-bottom: 2rem;
letter-spacing: 1px;
}
.container__btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*****************/
/*laptop Version*/
/****************/
@media screen and (min-width:1024px)
{
    .plan__name{
        font-size:1.4rem;
    }
    .plan__price{
        font-size: 5rem;
    }
    .plan__billing-cycle{
        font-size: 1.6rem;
    }
}
.plan--popular .card__header{
    position: relative;
    
    
}
.plan--popular .card__header::before{
    content: url(../image/popular.svg);
    width:40px;
    display:inline-block;
    position: absolute;
    top:-6px;
    right:5%;
}
/******** Plan Style with card, badge, list and buttons Ends Here *********/

/********************************************/
/******** Media section Begins Here *********/
/********************************************/
.media{
display: flex;

}
.media__title{
    margin-top:0;
    padding-left:1rem;
    display: inline-block;
}
.media__body{
    margin: 0 2rem;
}
.media__image{
    margin-top:1rem;
}
/******** Media section Begins Here *********/

/********************************************/
/******** Quote section Begins Here *********/
/********************************************/
.quote{
    font-size: 3rem;
    font-style: italic;
    line-height: 1.3;
    color:var(--color-body-darker)
}
.quote__text::before{
    content:open-quote;/* valid HTML option*/
}
.quote__text::after{
    content: close-quote;
}
.quote__line{
    position: relative;
    bottom:10px;
    left:45px;
}
.quote__author{
    margin-bottom: 0;
    margin-left:3rem;
    font-style: normal;
    font-size: 3rem;
    font-weight:500;
}
.quote__organisation{
    font-style: normal;
    font-size:2rem;
    opacity:40%;
    padding-left:10px;
    margin-left:3rem;
}

/*******Laptop******/
@media screen and (min-width:1024px){
    .quote__text{
        font-size:2rem;
    }
    .quote__author{
        font-size:2.4rem;
    }
    .quote__oragnisation{
        font-size:1.6rem;
        
    }
}
/******** Quote section Ends Here *********/

/********************************************/
/******** Grid section Begins Here *********/
/********************************************/
.grid{
    display: grid;
}
/******Tablet 2 columns********/
@media screen and (min-width:768px){
.grid--1X2{
    grid-template-columns: repeat(2,1fr);
}
}
/*********Laptop 3 columns*********/
@media screen and (min-width:1024px){
    .grid--1X3{
        grid-template-columns: repeat(3,1fr);
    }
}
/******** Grid section Ends Here *********/

/**************************************************/
/******** Testimonial section Begins Here *********/
/**************************************************/

.testimonial{
    padding:3rem;
}
.testimonial__image > img{/* direct selector*/
    width:100%;
}
.testimonial__image{
    position:relative;
}
.testimonial__image .icon-container{
    background-color: var(--accent-color);
    position:absolute;
    top:3rem;
    right:-32px;/* original container is 64px/2*/
    height:50px;
    width:50px;
}

.testimonial__image .icon-container .icon{
    height:20px;
    width:20px;
}


/******** Testimonial section Ends Here *********/

/**************************************************/
/******** Callouts section Begins Here *********/
/**************************************************/
.callout{
    
    padding-left:4rem;
    border-radius: 5px;
    
}
.callout--primary{
    background-color: var(--primary-color);
    color:#fff;
   
}
.callout__header{
    
    color:#fff;
    font-size: 3rem;
}
.callout .grid .btn{
    
    justify-self: center;
    align-self: center;

}
.callout__content{
    text-align: center;
}
@media screen and (min-width:768px)
{
    .callout .grid--1X2{
        grid-template-columns: 1fr auto;
    }
    .callout__content{
        text-align: left;
    }
    .callout .btn{
        justify-self: start;
        align-self:start;
    }
}
/******** Callouts section Ends Here *********/

/**************************************************/
/******** Collapsible section Begins Here *********/
/**************************************************/

.collapsible__header{
    display: flex;
    justify-content: space-between;/* pushes towards the end with space in-between*/

}
.collapsible__heading{
    margin-top: 0;
    font-size:3rem;
}

.collapsible--chevron{
    transform: rotate(-90deg);
    
}
.collapsible__content{
    max-height: 0;/* hidding the content area*/
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s;
}
.collapsible--expanded .collapsible--chevron {
    transform:rotate(0);
    transition: all 0.3s;
}
.collapsible--expanded .collapsible__content{
    max-height: 100vh;/*allocating the total viewport not to be set with height property*/
    opacity: 1;
}
/******** Collapsible section Ends Here *********/
