<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, ex? Sit quos numquam consequuntur distinctio, voluptate alias ad esse consectetur porro. Consequuntur odio, sunt, odit dignissimos nesciunt perferendis quae expedita nisi quibusdam, magnam quia omnis? Harum in doloribus veniam excepturi necessitatibus. Vel enim laborum excepturi reprehenderit quia praesentium qui! Quidem.</p>
    </header>
</section>
<section class="block block--dark block--dark--left-skewed">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, ex? Sit quos numquam consequuntur distinctio, voluptate alias ad esse consectetur porro. Consequuntur odio, sunt, odit dignissimos nesciunt perferendis quae expedita nisi quibusdam, magnam quia omnis? Harum in doloribus veniam excepturi necessitatibus. Vel enim laborum excepturi reprehenderit quia praesentium qui! Quidem.</p>
    </div>
</section>

