<div class="collapsible">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">item</h2>
            <svg class="icon icon--primary icon--white collapsible--chevron collapsible--expanded">
                <use xlink:href="image/sprite.svg#chevron"></use>
              </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum aut voluptatem hic repellendus molestias perferendis minima, saepe veritatis quis quisquam?
    </div>
</div>
<div class="collapsible">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">item</h2>
            <svg class="icon icon--primary icon--white collapsible--chevron collapsible--expanded">
                <use xlink:href="image/sprite.svg#chevron"></use>
              </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum aut voluptatem hic repellendus molestias perferendis minima, saepe veritatis quis quisquam?
    </div>
</div>
<script src="js/main.js"></script>
</body>
