<section class="block container block-domain">
    <div class="block__header">
        <h2>The best plan starts at 8$ per month</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, quod.</p>
    </div>
    <div class="input-group">
        <input type="text" class="input" placeholder="Enter your toys search here...">
        <button class="btn btn--accent">
            <svg class="icon icon--primary icon--white icon__search">
                <use xlink:href="image/sprite.svg#search"></use>
              </svg>
            Search</button>
    </div>
    <ul class="list block-domain__prices">
        <li>0-1yr</li>
        <li><span class="badge badge--secondary">2-3yr</span></li>
        <li>4-6yr</li>
        <li>7-8yr</li>
        <li>9-11yr</li>
        <li>12+yr</li>
    </ul>
</section>