<nav class="nav collapsible">
    <a href="/"><img src="image/logo.png" alt="Logo of the company"></a>
    <svg class="icon icon--white nav__toggler">
        <use xlink:href="image/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
        <a href="#"><li class="list__item">Subscription Lines</li></a>
        <a href="#"><li class="list__item">Store</li></a>
        <a href="#"><li class="list__item">Gifting</li></a>
        <a href="#"><li class="list__item">School & Groups</li></a>
    </ul>
</nav>
<script src="js/main.js"></script>