<div class="plan">
    <div class="card card--secondary">
            <header class="card__header">
                <h3 class="plan__name">STEM</h3>
                <span class="plan__price">14$</span>
                <span class="plan__billing-cycle">/month</span>
                <span class="badge badge--secondary badge--small">10% off</span>
                <span class="plan__description">The best definition of STEM Toys is learning toys developed with an educational concept for use in learning purposes</span>
            </header>
        <div class="card__body">
            <ul class="list list--tick">
                <li class="list__item">Unlimited Toys</li>
                <li class="list__item">Learn Science through play</li>
                <li class="list__item">Learn Technology through play</li>
                <li class="list__item">Learn Engineering through play</li>
                <li class="list__item">Learn Maths through play</li>
               </ul>
               <div class="container__btn">
               <button class="btn btn--outline">Buy Now</button>
            </div>
        </div>
    </div>
</div>

