<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saaral Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/normalize.css">
</head>
<body>
  <section class="block block--dark block--dark--right-skewed block__show-case">
    <header class="block__header">
        <h2 class="block__heading">User-Friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1X2">   
        <picture class="show-case__picture">
            <source type="image/webp" srcset="image/ipad.webp 1x,image/ipad@2x.webp 2x">
            <source type="image/png" srcset="image/ipad.png 1x,image/ipad@2x.png 2x">
            <img  class="show-case__image" src="image/ipad.png" alt="Picture of ipad">
        </picture>
        <ul class="list">
            <li><div class="media">
                <div class="media__header">
                    <div class="media__image">
                    <svg class="icon icon--primary">
                        <use xlink:href="image/sprite.svg#snap"></use>
                    </svg>
                </div>
                </div>
                <div class="media__body">
                    <h3 class="media__title show-case__title">Easy start &amp; managed updates</h3>
                    <p>Our product designers spend 1000+ hours developing &amp; testing every single project.</p>
                </div>
            </div>
        </li>
        <li><div class="media">
            <div class="media__header">
                <div class="media__image">
                <svg class="icon icon--primary">
                    <use xlink:href="image/sprite.svg#wordpress"></use>
                </svg>
            </div>
            </div>
            <div class="media__body">
                <h3 class="media__title show-case__title">Tech & Coding</h3>
                <p>Increased focus on STEM education and the desire to prepare children for careers in these fields. Additionally, the rise of technology and the increasing prevalence of digital devices has led to a greater interest in STEM toys that incorporate technology and coding.</p>
            </div>
        </div>
    </li>
    <li><div class="media">
        <div class="media__header">
            <div class="media__image">
            <svg class="icon icon--primary">
                <use xlink:href="image/sprite.svg#growth"></use>
            </svg>
        </div>
        </div>
        <div class="media__body">
            <h3 class="media__title show-case__title">Our Growth</h3>
            <p>According to a report by MarketsandMarkets, the global STEM toys market size was valued at USD 4.9 billion in 2020 and is expected to reach USD 11.3 billion by 2025.</p>
        </div>
    </div>
</li>
           </ul>
    </div>
  </section>
        <script src="js/main.js"></script>
</body>
</html>