<section class="block">
    <header class="block__header">
        <h2>What Our Customer Says</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, ullam.</p>
    </header>
    <div class="container testimonial__container">
        <div class="card testimonial">
            <div class="grid grid--1X2">
                <div class="testimonial__image">
                    <img src="image/testimonial.jpg" alt="A happy, smilling customer">
                    <span class="icon-container">
                        <svg class="icon icon--primary">
                            <use xlink:href="image/sprite.svg#quotes"></use>
                          </svg>
                    </span>
                </div>
            
            <div class="testimonial__quote">
                <blockquote class="quote">
                    <p class="quote__text">ClicBot combines a modular robotic construction kit with a remote control app featuring simple drag-and-drop programming. Initially, we found the clunky app overwhelming and ClicBot’s poorly translated onscreen text confusing, but a wealth of handy video tutorials and an active ClicBot community helped us come to grips with it. </p>
                </blockquote>
                <footer class="quote__footer">
                <div class="media">
                    <div class="media__header">
                        <div class="media__image">
                        <svg class="icon icon--primary quote__line">
                            <use xlink:href="image/sprite.svg#line"></use>
                        </svg>
                    </div>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title quote__author">Smith Sonian</h3>
                        <p class="quote__organisation">An Happy Customer</p>
                    </div>
                </div>
                </footer>
            </div>
        </div>
        </div>
    </div>    
    </div>
  </section>